---
import { Image } from "astro:assets";
import logo from "../assets/images/termite_logo.png"
---

<footer class="flex px-24 py-18 border-t-1 border-slate-600 gap-40 justify-between">
    <div>
        <a href="/" class="flex items-baseline min-w-fit mb-2">
            <Image src={logo} class="object-cover pr-2" alt="" width={40} height={40}>
            <p class="font-bold text-5xl font-[cursive] leading-tight">Termite</p>
        </a>
        <ul class="flex gap-6.5">
            <a href="">
                <li class="">
                    <i class="bi bi-facebook text-2xl"></i>           
                </li>
            </a>
            <a href="">
                <li class="">
                    <i class="bi bi-twitter-x text-2xl"></i>
                </li>
            </a>
            <a href="">
                <li class="">
                    <i class="bi bi-instagram text-2xl"></i>                
                </li>
            </a>
            <a href="">
                <li class="">
                    <i class="bi bi-tiktok text-2xl"></i>
                </li>
            </a>
            <a href="">
                <li class="">
                    <i class="bi bi-youtube text-2xl"></i>
                </li>
            </a>
        </ul>
    </div>
    <div class="grid grid-cols-3 gap-24 text-nowrap ">
        <ul class="flex gap-4 font-semibold flex-col">
            <li><a href="/" class="">Home</a></li>
            <li><a href="/explore" class="">Explore</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="/contact" class="">Contact</a></li>
        </ul>
        <ul class="flex gap-4 font-semibold flex-col">
            <li><a href="/" class="">Create</a></li>
            <li><a href="/explore" class="">Fun Facts</a></li>
            <li><a href="/about" class="">Games</a></li>
            <li><a href="/contact" class="">WebDev</a></li>
        </ul> 
        <ul class="flex gap-4 font-semibold flex-col">
            <li><a href="/" class="">Terms of Use</a></li>
            <li><a href="/explore" class="">Privacy Policy</a></li>
            <li><a href="/about" class="">Cookies</a></li>
        </ul> 
    </div>
</footer>