---
import Layout from "../../layouts/Layout.astro";
import FlipCard from "../../components/FlipCard.tsx"
import { getEntry } from "astro:content";

const { id } = Astro.params;
console.log(id as string)
const studyGuide = await getEntry(
  "studyGuidesCollection", // your collection name
  id as string          // entry ID or slug
);

if (!studyGuide) {
  return Astro.redirect("/404");
}
---

<Layout title="Termite">
    <main>
        <h1>{studyGuide.data.title}</h1>
        {studyGuide.data.cards.map((card) => (
          <FlipCard front={card[0]} back={card[1]} client:visible></FlipCard>
        ))}
    </main>
</Layout>

<script>
const flipped = false;
const flipCard = document.getElementById("flipCard");

flipCard?.addEventListener("click", () => {
  flipped != flipped
})
</script>